<div class="container-row header-container"> 
    <div class="left-side rate-container">
        <a (click)="increment()">
            <img class="change-icon" src="../../../assets/thumb-up-dark.png"/>
        </a>
        <div class="rating-outcome">
            {{ content.rate }}
        </div>
        <a (click)="decrement()">
            <img class="change-icon" src="../../../assets/thumb-down-dark.png"/>
        </a>
    </div>
    <div class="right-side"
        [ngClass]="{'purple-background': counter % 2 == 0, 'light-background':  counter % 2 !== 0}">
        <h2>{{ content.title }}</h2>
        <div class="content-info">
            {{ content.content }}
        </div>
       <div class="menu">
       <ul>
           <li *ngFor="let tag of content.tags;">
                <a href="{{tag.link}}">#{{tag.tagName}}</a>
           </li>
       </ul>
       </div>
    </div>
</div>