.change-icon {
    width:2rem;
    background:transparent-color;
    margin-right:5px;
    margin-left:5px;
}

.rating-outcome {
    text-align: center;;
    width: 20px;
}

.rate-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.purple-background {
    background-color:#7a3052;
    color: white;
}

.bright-background {
    background-color:#e2e9ed;
    color:black;
}

.right-side {
    h2 {
        font-family: Arial;
        font-weight: bold;
        font-size: 16pt;
        font-style: italic;
    }
}

.content-info {
    font-size:14pt;
    padding: .5rem;
}

.menu li a {
    color: #80878c;
    font-size:14pt;
}