<div class="container">
  <div class="container-row header-container"> 
      <div class="left-side">
        <img src="../assets/logo.png" />
      </div>
      <div class="right-side">
          <h1>Web Design Blog</h1>
      </div>
  </div>
  <div class="container-row"> 
    <div class="left-side"></div>
    <div class="right-side">
     <app-menu></app-menu>
   </div>
  </div>
  <ng-container  *ngFor="let contentItem of contentItems; let counter = index"> 
      <app-rate-content [content]="contentItem" [counter]="counter"></app-rate-content>
  </ng-container>
</div>