
// Did not invoke for some reason
@media screen and (max-width:720px) {
    h1{
       font-size: 50pt; 
    }
 }

 @media screen and (max-width: 420px) {
    h1 { 
        font-size: 20pt; 
     }
 
  }