.container {
    margin-left: 20%;
    margin-right: 20%;
    display:flex;
    flex-direction: column;
    background-color: #e2e9ed;
}

.container-row {
    display:flex;
    flex-direction: row;
}

.right-side {
    width:70%;
    h1{
        font-family: Arial;
        font-weight: bold;
        font-size: 4rem;
        width: 100px;
    }
}

.left-side {
    width:30%;
    img {
       width:80%;
       float:right;
    }
}
.menu {
    width:100%;
    margin-right:auto;
    font-family: Arial;
    margin-bottom: 2rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        margin-right:5%;
        float: left;
      }
      
      li a {
        display: block;
        padding: 8px;
        color:inherit;
      }
}

// Did not invoke for some reason
@media screen and (max-width:720px) {
    h1{
       font-size: 50pt; 
    }
 }

 @media screen and (max-width: 420px) {
    h1 { 
        font-size: 20pt; 
     }
 
  }